@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: "Roboto Mono", sans-serif;
  font-size: 10px;
  height: auto;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to bottom, #fc5112eb, #fcaa11e9);
  color: #fff;
}

.header_container {
  background: linear-gradient(to bottom, #fc5112eb, #fcaa11e9);
  width: 80%;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 3%;
  left: 10%;
  text-align: justify;
  transform: skewX(-20deg);
  box-shadow: 4px 4px 5px #000;
}
.header_container > div {
  transform: skewX(20deg);
}
.header_container h1 {
  padding: 1rem;
}
.music_list {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}
.music_list h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.Music_title {
  font-weight: bolder;
  padding: 0.5rem 0;
}

.btn_container {
  margin-top: 1rem;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.btn {
  border: none;
  background: #02894d;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  opacity: 1;
}
.main_container {
  width: 90%;
  height: auto;
  margin-top: 6rem;
  padding: 1rem;
  position: relative;
  left: 8%;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr;
  gap: 4rem;
}

.Add_song {
  position: absolute;
  top: -8%;
  left: 90%;
}
.image_container {
  width: 100%;
  max-height: 300px;
  margin-top: 1rem;
}
.image_container img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.footer {
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
  color: #3c3b3b;
  background: #0000003e;
}
